battle/classes/__pycache__/__init__.cpython-38.pyc
battle/classes/__pycache__/game.cpython-38.pyc
battle/classes/__pycache__/inventory.cpython-38.pyc
battle/classes/__pycache__/magic.cpython-38.pyc
.vscode/settings.json
